<div class="mt-4">
    <form method = "POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Delete Course</label>
        <input type="text" name = "name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the name of Course you want to delete ...">
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
</div>