<div class="mt-4">
    <form method = "POST" action = "" >
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name = "name" placeholder="Input name ...">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name = "description" placeholder="Description ...">
    </div>
    <div class="form-group">
        <label for="videoID">Video ID</label>
        <input type="text" class="form-control" name = "videoID" placeholder="Video ID ...">
    </div>


    <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>